body {
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.sectionHome {
    background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.3)),
    url(images/background.jpg);

    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    position: relative;
}

.sectionHome.regulamin {
    height: auto
}

.sectionHome.polityka {
    height: auto
}

@media only screen and (max-width: 375px) {
    .sectionHome {
        background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url(images/background.jpg);
    }
}


.sectionHome .animation {
    position: absolute;
    width: auto;
}

.sectionHome .animation-left {
    position: absolute;
    width: auto;
    height: 25vw;
    bottom: 10vh;
    animation: animation-left 0.5s forwards;
}

@keyframes animation-left {
    0% {
        position: absolute;
        opacity: 0;
        left: -200px;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        left: 5vh;
    }
}

.sectionHome .animation-right {
    position: absolute;
    width: auto;
    height: 25vw;
    top: 10vh;
    animation: animation-right 0.5s forwards;
}

@keyframes animation-right {
    0% {
        position: absolute;
        opacity: 0;
        right: -200px;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        right: 1vw;
    }
}

.sectionHome .header {
    display: flex;
    margin: 15px;
    align-items: center;
}

@media only screen and (max-width: 375px) {
    .sectionHome .header {
        display: none;
    }
}


.sectionHome .header a {
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin-right: 30px;
    font-weight: 700;
}


.sectionHome .content {
    padding: 0 20px;
    width: 100%;

    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHome h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 6vw;
    color: #fff;
    margin: 0 0 10px 0;
}

.sectionHome h2 {
    font-size: 2.5vw;
    font-family: 'Inconsolata', monospace;
    color: #fff;
    margin: 0 0 40px 0;
    
    text-align: center;
}

.sectionHome h3 {
    font-family: 'Inconsolata', monospace;
    color: #fff;
    margin: 0;
    margin: 0 0 20px 0;
}

@media only screen and (max-width: 375px) {
    .sectionHome h1 {
        font-size: 35px;
        text-align: center;
    }
    .sectionHome h2 {
        font-size: 16px;
        text-align: center;
    }
}


h4 {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    font-size: 50px;
}


.sectionHome a.button {
    box-shadow: -1px 13px 23px -5px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 55px;
    max-width: 400px;
    width: 100%;
    color: #050505;
    font-size: 23px;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    border-radius: 3px;
    background-color: #ffae00;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;    
}

.sectionHome a.button:hover {
    background-color: #ecd108;
}

.sectionHome a.button:active {
    box-shadow: -1px 13px 23px -5px rgba(0,0,0,0);
    transform: translateY(3px);
}

.sectionHome small {
    font-size: 12px;
    margin-top: 4px;
    color: #424242;
}


.sectionHome .info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 20px;    
    justify-content: center;
    font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 375px) {
    .sectionHome .info {
        justify-content: flex-start;
    }
}

.sectionHome .info div {
    display: flex;
    align-items: center;
    margin: 0 20px  20px;
}

.sectionHome .info img {
    width: 40px;
    margin-right: 8px;  
}

.sectionHome .social {
    margin-top: 5px;
}

.sectionHome .social a {
    margin: 0 5px;
}

.sectionHome .social img {
    width: 30px;
}

.sectionIdea {
    padding: 40px;
}

.sectionIdea p {
    max-width: 990px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.46;
}

.sectionRegulamin {
    padding: 40px;
    max-width: 990px;
}


.sectionProwadzacy {
    padding: 40px;
    background-color: #fafafb;
}

.sectionProwadzacy .heads {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -20px -10px -20px;

}

.sectionProwadzacy .head {
    flex: 0 0 180px;
    margin: 0 20px 30px 20px;
}

.sectionProwadzacy .head img {
    width: 100%;
}

.sectionProwadzacy .head .bio {
    font-family: 'Lato', sans-serif;
}

.sectionProwadzacy .head .bio .name {
    font-size: 20px;
    margin-bottom: 5px;
}

.sectionProwadzacy .head .bio .sub {
    font-size: 15px;
    font-weight: 300;
}


.sectionPytania {
    font-family: 'Lato', sans-serif;
    padding: 40px;
}

.sectionPytania dt {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}

.sectionPytania dd {
    font-size: 16px;
    margin: 0 0 10px 0;
}



.sectionKontakt {
    font-family: 'Lato', sans-serif;
    padding: 40px;
    background-color: #e6f7ca;
    color: #494949;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.sectionKontakt .email {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.sectionKontakt .address {
    font-size: 30px;
}

@media only screen and (max-width: 375px) {
    .sectionKontakt .email {
        font-size: 20px;
    }
    .sectionKontakt .address {
        font-size: 22px;
    }
    
}



.sectionMap {
    height: 300px;
}


